<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Chatting App-Quickblox.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3B3107D61E7771F50059B8EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B3107EF1E7771F60059B8EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B3107FA1E7771F60059B8EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
